.container-fluid
  %form{:method => "post", :action => '/', :enctype => 'multipart/form-data'}
    .form-group
      %input.form-control{type: "text", name: 'stone[name]', placeholder: "name"}
    .form-group
      %input.filestyle{:type => 'file', :name => 'file'}      
    .form-group
      %button.btn.btn-primary{:type => "submit"}
        Create stone and print label